@import "../../common";

@breadcrumb-separator: '>' !important;
@breadcrumb-padding-horizontal: 0 !important;
@breadcrumb-padding-vertical: 0 !important;


@breadcrumb-text-color: #999999 !important;

@breadcrumb-bg: @application-bg !important;
@breadcrumb-active-color: #666666;
@breadcrumb-color: @breadcrumb-text-color !important;


.breadcrumb {
  margin-bottom: 16px;
  > li {
    color: @breadcrumb-text-color;
  }
  .active {
    font-weight: 600;
    &::before {
      font-weight: normal;
    }
  }
}
